# IDE
/*.suo
*.DotSettings.user
*.csproj.user

# build
Release
Debug
**/bin/*
*/obj/**


# deps
packages/*

# settings

# deployment
*.pubxml.user
*.pubxml

# other
**/AssemblyTitle.cs
*.orig

.vs/*
.idea/*

# appplication data
AppData
**/.vs/
/ClassLibrary1/.idea/.idea.ClassLibrary1/.idea/workspace.xml
/ClassLibrary1/.idea/.idea.ClassLibrary1/.idea/contentModel.xml
/ClassLibrary1/.idea/.idea.ClassLibrary1/.idea/indexLayout.xml
/ClassLibrary1/.idea/.idea.ClassLibrary1/.idea/modules.xml
/ClassLibrary1/.idea/.idea.ClassLibrary1/.idea/vcs.xml
/ClassLibrary1/.idea/.idea.ClassLibrary1/riderModule.iml
/ClassLibrary1/.idea/.idea.ClassLibrary1/riderModule.iml
